* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background: #0F1115;
  color: #E6E8EC;
}
   
.section {
  height: 200vh;
  position: relative;
  background: #121212;
}

.track {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1A1D24;
}

.road {
  width: 100vw;
  height: 200px;
  background: #222632;
  position: relative;
  overflow: hidden;
}

.car {
  height: 200px;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 10;
}
      
.trail {
  height: 200px;
  background: #222632;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
}
      
.text-box {
  opacity: 0;
  transition: opacity 0.5s;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}
      
#box1{
  background: #1A1D24;
  color: #E6E8EC;
  font-size: 18px;
  padding: 30px 30px;
}
      
.num-box{
  font-size: 58px;
  font-weight: 600;
}
      
#box2{
  background: #1A1D24;
  color: #E6E8EC;
  padding: 30px 30px;
}
      
#box3{
  background: #1A1D24;
  color: #E6E8EC;
  padding: 30px 30px;
  }
      
#box4{
  background: #1A1D24;
  color: #E6E8EC;
  padding: 30px 30px;      
}    

.text-box.show {      
  opacity: 1;      
}      

.value-add {      
  top: 15% !important;      
  font-size: 8rem;      
  font-weight: bold;      
  position: absolute;      
  left: 5%;      
  z-index: 5;      
  display: flex;      
  gap: 0.3rem;      
}      

.value-letter {      
  color: #E6E8EC;      
  opacity: 0;      
}      